.container {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  position: relative;
  overflow: hidden;
}

.block1 {
  flex: 1;
  padding: 100px 0 0 100px;
  display: flex;
  gap: 50px;
  flex-direction: column;
  position: relative;
}

.title {
  font-size: 80px;
  font-weight: 900;
}

.name {
  color: orange;
}

.devTitle {
  font-size: 20px;
}
.skills {
  font-size: 22px;
  font-weight: bold;
}

.block2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}

.introPicture {
  align-self: center;
  width: 40%;
  height: 40%;
  object-fit: cover;
}

/* MOBILE DEVICES */
@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
  }

  .title {
    font-size: 40px;
    font-weight: 900;
  }

  .block1 {
    gap: 20px;
    padding: 10px 0 0 10px;
    align-items: center;
  }

  .about {
    padding: 0 10px 0 10px;
    font-size: 14px;
  }

  .skillsContainer {
    padding: 0 10px 0 10px;
  }
  .skills {
    font-size: 14px;
    font-weight: bold;
  }
  .callToAction {
    padding: 0 10px 0 10px;
  }

  .devTitle {
    font-size: 12px;
  }

  .block2 {
    display: none;
  }
}
