.container {
  height: 50px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem 0 5rem;
}

.logo {
  color: white;
  text-decoration: none;
}

.nav {
}

.menuLinks {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.menuLinks a {
text-decoration: none;
color: lightgray;
}